/*
    components: Loader.scss;
*/

$loader-width: 80px;

.loader {
    &--primary {
        display: inline-block;
        position: relative;
        width: $loader-width;
        height: $loader-width;
    
        div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 64px;
            height: 64px;
            margin: 8px;
            border: 8px solid $color-primary;
            border-radius: $border-circle;
            animation: loader-animation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: $color-primary transparent transparent transparent;
    
            &:nth-child(1) {
              animation-delay: -0.45s;
            }
            &:nth-child(2) {
              animation-delay: -0.3s;
            }
            &:nth-child(3) {
              animation-delay: -0.15s;
            }
        }
    }
}

@keyframes loader-animation {
  0% {
    transform: rotate3d(0,0,1,0deg);
  }
  100% {
    transform: rotate3d(0,0,1,360deg);
  }
}