/*
    base: typography.scss
*/

//importing fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

//global style
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}